.myInput {
 width: 100%;
 padding: 1rem 2rem;
 display: flex;
 align-items: center;
 margin-bottom: 1.5rem;
 border: none;
 outline: none;
 background-color: var(--color-ui-base);
 color: var(--color-text);
 border-radius: var(--radius);
 box-shadow: var(--shadow);
}